---
import { getHome } from "../lib/features/home/home.service";
import { getHeroSlides } from "../lib/features/heroSlider/heroSlider.service";
import Header from "../components/header/Header.astro"
import Hero from "../components/hero/Hero.astro";
import "../styles/global.css";
import { Font } from "astro:assets";


const home = await getHome();
const slider = await getHeroSlides();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<Font cssVariable="--font-libre-caslon-condensed" />
    <Font cssVariable="--font-instrument-sans" preload />
    <Font cssVariable="--font-sour-gummy" />
		<meta name="generator" content={Astro.generator} />
		<title>{home.title}</title>
	</head>
	<body>
		<Header home={home} />
		<Hero imagenFondoHomePage={slider[0]} alternativeText={slider[0].alt} />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		--font-primary: var(--font-libre-caslon-condensed);
		--font-title: var(--font-instrument-sans);
		--font-decorative: var(--font-sour-gummy);
		--font-semibold: 600;
		--font-medium: 500;
		--font-regular: 400;
		--font-bold: 800;
		--txt-size-small: 1em;
		--txt-size-medium: 2rem;
		--txt-size-title: 1.8rem;

		--color-ivory: #F8F4E3;
		--color-white: #FDFDFF;
		--color-black: #020202;
		--color-green: #28965A;
		--color-background: #2287b2;
	}

	@media (max-width: 768px) {
		html,
		body {
			font-family: var(--font-primary), serif;
			min-height: 100vh;
			overflow-x: hidden;
			margin: 0;
		}

		body {
			font-size: 16px;
			background-color: var(--color-background);
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	button {
		all: unset;
	}
</style>
